@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <div class="row">
        <a class="small" href="@Url.Content("https://localhost:44387/Acceso/Index")">Departamento de Registro</a>
        <a class="small" href="@Url.Content("https://localhost:44380/Acceso/Index")">Estudiante</a>
        <a class="small" href="@Url.Content("https://localhost:44360/Acceso/Index")">Director de Carrera</a>
        <a class="small" href="@Url.Content("https://localhost:44361/Acceso/Index")">Docente</a>
    </div>
</main>